.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #121212;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.dark {
  background-color: #1e293b;
  color: white;
}

.toggleTheme {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  /* -webkit-user-select: none; */
  /* touch-action: manipulation; */
}

.toggleTheme:hover {
  background-color: #1e293b;
  color: #fff;
}

/* Dark mode toggle button */
.dark .toggleTheme {
  background-color: #1e293b;
  color: white;
  border: 1px solid white;
  border-radius: 1.5rem;
}
.dark .toggleTheme:hover {
  background-color: #fff;
  color: #1e293b;
}

@media (min-width: 768px) {
  .toggleTheme {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}