/* Light Mode */
body {
  background-color: white;
  color: black;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
.dark body{
  background-color: #1e293b;
  color: white;
}

/* Dark Mode Navbar, Sidebar, and Other Components */
.dark .navbar {
  background-color: #1e293b;
}

.dark .sidebar {
  background-color: #1e293b;
}

.dark .task {
  background-color: #1e293b;
}
